.glass {
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.bg-neon-green {
    background-color: #f3ff82cb; /* Neon green background */
}

.bg-purple {
    background-color: #ffabffb0; /* Purple background */
}

.bg-grey {
    background-color: #c0c0c080; /* Purple background */
}


.crown {
    width: 30px; /* Adjust crown size */
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1; /* Ensure crown is above the canvas */
}

